.Cart {
  margin: 0 15px;
}

@media (min-width: 500px) {
  .Cart {
    width: 600px;
    margin: 0 auto;
  }
}

.NoItemsText {
  font-size: 1.8rem;
}

.TotalPrice {
  font-size: 1.8rem;
  text-align: right;
}

.DeliveryCost {
  margin-top: 10px;
  display: block;
  font-size: 1.8rem;
  text-align: right;
}

.Footer {
  text-align: center;
}

.PizzaMenuLink {
  display: block;
  font-size: 1.8rem;
  color: #333;
  text-align: left;
}
