.Orders {
  margin: 0 10px;
  animation: fadeIn 0.4s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 500px) {
  .Orders {
    width: 600px;
    margin: 0 auto;
  }
}
